{% extends 'base.html' %}

{% block content %}
  <section class="content review-edit">
    {% comment %} <nav class="product-nav">
      <a href="{% url 'product_show' product_id=product.id %}" class="btn">Return</a>
      <form action="{% url 'product_delete' product_id=product.id %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn">
      </form>
    </nav> {% endcomment %}

    <h2>Edit Review</h2>

    <form action="{% url 'review_update' product_id=product.id review_id=review.id %}" method="POST" class="review-form">
      {% csrf_token %}

      {{form.as_p}}

      <p>
        <input type="submit" value="Update" class="btn">
      </p> 
    </form>
  </section>
{% endblock %}