<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>

  <link href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap" rel="stylesheet">

  <!-- Custom CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/main.css'%}" />
</head>

<body>
  <main class="wrapper">
    <header>
      <h1>Fire Emblem Store</h1>

      <nav class="main-nav">
        <ul>
          <li class="nav-link"><a href="{% url 'products' %}">Home</a></li>
          <li class="nav-link"><a href="{% url 'product_new' %}">New Product</a></li>
        </ul>
      </nav>
    </header>
    
    {% block content %}
    {% endblock %}

    <footer>
      <p>Copyright &copy; Django-Rainforest 2019</p>
    </footer>
  </main>
</body>
</html>